<div class="packagebackground">
  <div class="pt-5">
    <div class="container">
      <h1 class="pb-3"><strong>1:1 for you!!</strong></h1>
      <h2>Hey!! Im here to offer people support to increase their self-efficacy, motivation and commitment to make changes to their lifestyle and improve their health</h2>
    </div>
  </div>
</div>
<div class="pt-5 OnetoOnebackgroundcolour">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("corperate_wellness_nsoaky", class: "packageimages", alt: "meditation at work") %>
         <div data-controller= toggle class="card-body" >
          <h5 class="card-title text-center"><strong>1:1 corporate health and wellness sessions</strong></h5>

              <p class="card-text text-center">Elevate your career while prioritising holistic well-being through our bespoke 60-minute 1:1 Health and Wellness Career Coaching sessions.</p>
              <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>

            <div class="d-none" data-toggle-target="toggleableElement">
              <p class="card-text text-center">Tailored specifically for ambitious professionals, our coaching service is designed to seamlessly integrate career growth with optimal health and wellness strategies. In these sessions, you will receive personalised guidance to navigate the intricacies of advancing your career, bolstering productivity, and fostering a harmonious work-life balance, all while safeguarding your physical and mental health. Benefit from the expertise of our seasoned coaches, who provide customised approaches and insights to address your individual challenges and aspirations. This is your opportunity to redefine your professional journey and cultivate a thriving career that doesn't compromise on health and personal well-being. Make the commitment to achieve professional excellence and holistic health by reserving your session today.</p>
              <p class="card-text text-center">Price: 55.00 per hour, block booking prices can be offered at a discounted rate below:</p>
              <p class="card-text text-center">5x sessions – 250.00</p>
              <p class="card-text text-center">10x sessions – 500.00</p>
            </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
          <div data-controller= toggle class="card-body">
            <h5 class="card-title text-center"><strong>1:1 Health and wellness coaching sessions for those suffering from burnout</strong></h5>
            <p class="card-text text-center">Beat burnout and get back to feeling like yourself with our 1:1 Health and Wellness Coaching, designed for people who are struggling with the stress and exhaustion of burnout. </p>
             <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
            <div class="d-none" data-toggle-target="toggleableElement">
              <p class="card-text text-center">Life these days can be really tough, often leaving us feeling worn out, unhappy, and disconnected from what matters. Our program is here to help you find your way out of that rut. With a plan that's made just for you, our experienced coaches will show you how to handle stress better, find a healthier balance between work and life, and get that spark back in your day-to-day. Through practical advice and real strategies, we'll help you not just bounce back from burnout, but also build a life where you can thrive. Say no to feeling constantly drained and start your journey toward feeling great again. It's time to put your wellbeing first, and we're here to help you do just that.</p>
              <p class="card-text text-center">Price: 55.00 per hour, block booking prices can be offered at a discounted rate below:</p>
              <p class="card-text text-center">5x sessions – 250.00</p>
              <p class="card-text text-center">10x sessions – 500.00</p>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
          <div data-controller= toggle class="card-body">
          <h5 class="card-title text-center"><strong>Peak Performance: Career Productivity & Wellness Program</strong></h5>
          <p class="card-text text-center">Unlock your full professional potential through our **Peak Performance: Career Productivity & Wellness Program**, a holistic three-month journey designed for individuals aiming to elevate their career productivity and excel in their professional lives. By integrating wellness and productivity strategies, this program empowers you to achieve superior performance, resilience, and well-being.</p>
          <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
          <div class="d-none" data-toggle-target="toggleableElement">
          <h6><strong><u>Month 1: Foundation for Success</u></strong></h6>
          <p><strong>Week 1-2: Mindset and Time Management Mastery </strong></p>
          <ul>
            <li>Initial Assessment & Goal Setting (1 hour):** A personalised session to evaluate your current productivity levels, professional goals, and well-being.</li>
            <li>Mindset Mastery Workshop (2 hours):** Understand the psychology of productivity and learn techniques to develop a growth mindset for success.</li>
            <li>Effective Time Management Training (2 hours):** Learn and implement cutting-edge time management and prioritisation strategies to maximise daily efficiency.</li>
          </ul>
          <p><strong>Week 3-4: Health Optimisation for Energy</strong></p>
          <ul>
            <li>Nutritional Consultation for Peak Performance (1 hour):** A session focused on optimising your diet for energy, focus, and stamina.</li>
            <li>Personalised Exercise Plan with Bi-weekly Coaching:** Custom fitness regime to improve physical health, relieve stress, and enhance mental clarity.</li>
            <li>Sleep Hygiene Workshop (1 hour):** Strategies to improve sleep quality, ensuring you are well-rested and energised each day.</li>
          </ul>
          <h6><strong><u>Month 2: Strengthening the Core</u></strong></h6>
          <p><strong>Week 5-6: Stress Resilience Building </strong></p>
          <ul>
            <li>Stress Management Techniques Workshop (2 hours):** Equip yourself with effective stress resilience techniques to maintain peak performance under pressure.</li>
            <li>Weekly Mindfulness and Meditation Sessions:** Group sessions aimed at enhancing mental wellness, focus, and productivity through mindfulness practices.</li>
          </ul>
          <p><strong>Week 7-8: Communication & Collaboration Skills</strong></p>
          <ul>
            <li>Impactful Communication Workshop (2 hours):** Master communication skills to effectively express ideas, influence others, and manage conflicts.</li>
            <li>- **Team Collaboration and Leadership Skills Session (2 hours):** Foster teamwork and leadership abilities to drive projects and inspire team members.</li>
          </ul>
           <h6><strong><u>Month 3: Optimisation and Advancement</u></strong></h6>
          <p><strong>Week 9-10: Creative Problem-Solving & Innovation</strong></p>
          <ul>
            <li>Creative Thinking and Problem-Solving Workshop (2 hours):** Techniques to boost creativity, innovate solutions, and tackle challenges with a fresh perspective.</li>
            <li>Productivity Tools & Technologies Training (2 hours):** Leverage modern tools and technologies to streamline workflows and enhance productivity.</li>
          </ul>
          <p><strong>Week 11-12: Long-Term Success Planning</strong></p>
          <ul>
          <li>- **Long-Term Career Planning Session (2 hours):** Define future career aspirations, set achievable goals, and develop an action plan for continued growth.</li>
          <li>- **Final Evaluation & Strategy Optimisation (1 hour):** Review progress, celebrate achievements, and refine strategies for sustained performance and well-being.</li>
          </ul>
          <p><strong>Additional Benefits: </strong></p>
          <ul>
            <li>- **24/7 Access to the Online Resource Library:** Including guides on nutrition, fitness, mindfulness, productivity tools, and more.</li>
            <li>- **Weekly Inspirational Emails:** Tips for maintaining momentum, success stories to inspire, and the latest findings in productivity and wellness research.</li>
          </ul>
          <p><strong>Investment in Excellence:</strong></p>
          <p>- **Program Fee: 2,000.00** (Please contact us for detailed pricing and any available customisation options based on your specific career and wellness goals.)</p>
          <p>The **Peak Performance: Career Productivity & Wellness Program** is crafted for those committed to transcending their current limits and achieving unparalleled success in their careers. By integrating physical health, mental wellness, and productivity strategies, this program offers a comprehensive approach to unlock your highest potential.</p>
          <p>To embark on this transformative journey, please reach out. Let’s elevate your professional life to new heights of achievement and fulfilment.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
          <div data-controller= toggle class="card-body">
            <h5 class="card-title text-center"><strong>Accelerated Peak Performance Program</strong></h5>
            <p class="card-text text-center">Elevate your career productivity and excel within an intense, focused one-month journey through the **Accelerated Peak Performance Program**. This compact, holistic program is specifically designed for ambitious individuals ready to quickly integrate wellness and productivity strategies for superior performance and success.</p>
            <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
            <div class="d-none" data-toggle-target="toggleableElement">
              <h6><strong><u>Week 1: Establishing a High-Performance Mindset</u></strong></h6>
              <ul>
                <li>- **Initial Assessment & Goal Setting (1 hour):** Set the stage with a personal evaluation to identify productivity baselines, wellness levels, and professional ambitions.</li>
                <li>- **Mindset and Time Management Mastery (2 hours):** Equip yourself with a growth mindset and advanced time management techniques to significantly boost daily efficiency.</li>
              </ul>
              <h6><strong>Week 2: Health Optimisation for Sustained Energy</strong></h6>
              <ul>
                <li>- **Nutritional Essentials for Peak Performance (1 hour):** A session on optimising your nutrition for maximum energy, focus, and productivity.</li>
                <li>- **Customised Exercise Planning (1 hour):** Develop a fitness routine tailored to improve physical wellness and mental sharpness, including stress-reducing exercises.</li>
                <li>- **Sleep Optimisation Workshop (1 hour):** Implement effective sleep strategies to ensure restorative sleep, enhancing overall performance.</li>

              </ul>
              <h6><strong>Week 3: Building Resilience and Communication Skills</strong></h6>
              <ul>
                <li>- **Stress Resilience Techniques Workshop (2 hours):** Acquire tools to maintain peak performance under pressure and bounce back from setbacks more robustly.</li>
                <li>- **Effective Communication & Collaboration Skills Session (2 hours):** Boost your ability to communicate ideas clearly, influence others, and enhance collaborative efforts.</li>
              </ul>
              <h6><strong>Week 4: Advancement through Problem-Solving & Planning</strong></h6>
              <ul>
                <li>- **Innovative Problem-Solving Workshop (2 hours):** Learn to apply creative thinking for inventive solutions and overcoming professional challenges.</li>
                <li>- **Productivity Tools & Technology Training (1 hour):** Master the latest productivity tools to streamline your workflow and boost efficiency.</li>
                <li>- **Long-Term Success Strategy Session (1 hour):** Chart out your future goals with a personalized, actionable plan for continuous growth and success.</li>
              </ul>
              <p><strong>Features of the Program:</strong></p>
              <ul>
                <li>- **24/7 Online Resource Access:** Unlimited access to a digital library of guides and resources on nutrition, fitness, productivity, and more.</li>
                <li>- **Weekly Motivational Emails:** Receive tips, success stories, and motivational insights to keep you inspired throughout your journey.</li>
              </ul>
              <p><strong>Investment in Your Future:</strong></p>
              <p>- **Program Cost: 600.00 (Please contact us for pricing details and to discuss any specific personal or professional goals you wish to achieve with this program.)</p>
              <p>The **Accelerated Peak Performance Program** combines critical elements of wellness and productivity into a streamlined one-month course, designed to propel you towards achieving your career aspirations while maintaining a healthy, balanced life.</p>
              <p>To take the first step towards realising your full professional potential, please reach out. Commit to your growth, and let us help you navigate your path to peak performance.</p>

              </div>
            </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="packagecard">
        <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
        <div data-controller= toggle class="card-body">
          <h5 class="card-title text-center"><strong>Revive & Thrive: Corporate Burnout Recovery Program</strong></h5>
          <p class="card-text text-center">In today’s high-pressure corporate environments, burnout has become a critical challenge affecting many individuals. Recognising this, we've carefully curated the **Revive & Thrive: Corporate Burnout Recovery Program**, a comprehensive three-month journey designed to support individuals facing the woes of corporate burnout, guiding them towards rejuvenation, balance, and enhanced well-being.</p>
          <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
          <div class="d-none" data-toggle-target="toggleableElement">
            <h6><strong>Phase 1: Reset and Reflect (Month 1)</strong></h6>
            <ul>
              <li>- **Initial Wellness Consultation (90 minutes):** A deep dive into your current lifestyle, stressors, and wellness goals. Together, we identify the key areas of focus and start crafting your personalised recovery roadmap.</li>
              <li>- **Weekly Mindfulness and Meditation Sessions:** Group sessions designed to introduce and deepen mindfulness practices, essential for stress management and mental clarity.</li>
              <li>- **Bi-weekly Nutritional Counseling:** Guidance on how to fuel your body for optimal energy and mood balance, including personalised meal planning with a focus on rejuvenating foods.</li>
              <li>- **Stress Management Workshop:** An interactive workshop providing practical tools and strategies to manage stress effectively and cultivate resilience.</li>
            </ul>
            <h6><strong>Phase 2: Rebuild and Reenergise (Month 2)</strong></h6>
            <ol>
              <li>- **Personalised Exercise Program:** Based on your initial consultation, receive a custom-tailored exercise plan focused on building strength, stamina, and releasing stress. Includes bi-weekly virtual check-ins with a fitness coach.</li>
              <li>- **Weekly Yoga Classes:** Gentle, restorative sessions aimed at enhancing flexibility, strength, and mental relaxation.</li>
              <li>- **Nutritional Support Group Meetings:** Bi-weekly group meetings to share experiences, successes, and challenges on your nutritional journey, facilitated by a certified nutritionist.</li>
            </ol>
            <h6><strong>Phase 3: Sustain and Thrive (Month 3)</strong></h6>
            <ol>
              <li>- **Advanced Stress Management Techniques:** Learn advanced techniques and coping strategies to handle high-pressure situations healthily and maintain calmness under stress.</li>
              <li>- **Fitness Progress Evaluation:** A one-on-one session with your fitness coach to assess progress, discuss challenges, and adjust your exercise routine as needed for sustained health benefits.</li>
              <li>- **Mindful Eating Workshop:** An in-depth exploration of the principles of mindful eating to enhance your relationship with food, focusing on nutrition, satisfaction, and gratitude.</li>
              <li>- **Final Wellness Consultation (90 minutes):** Evaluate the progress made over the last three months, celebrate achievements, and plan strategies for maintaining and building upon your newfound wellness.</li>
            </ol>
            <h6><strong>Bonus Features:</strong></h6>
            <ul>
              <li>- **24/7 Access to Online Wellness Portal:** Resources including guided meditation, yoga sessions, fitness videos, and nutritional guides.</li>
              <li>- **Weekly Inspirational Emails:** Motivational insights, tips, and success stories to inspire your journey.</li>
            </ul>
             <h6><strong>Investment in Your Well-being:</strong></h6>

             <p>- **Total Package Price: 1,400, finance plans available. Please contact to discuss.</p>
             <p>Embark on your journey from burnout to revitalisation with the **Revive & Thrive: Corporate Burnout Recovery Program**. Rediscover balance, energy, and a zest for both professional and personal life.</p>
              <cite>To begin your transformation or for more information, please reach out. Your path to overcoming burnout and thriving in your life starts here!</cite>
          </div>
        </div>
      </div>
    </div>
          <div class="col-sm-6">
            <div class="packagecard">
              <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
              <div data-controller= toggle class="card-body">
                 <h5 class="card-title text-center"><strong>Fast Track Burn Out Recovery Programme</strong></h5>
                 <p class="card-text text-center">In response to the need for a swift, effective intervention for those experiencing corporate burnout, we present the **Fast-Track Burnout Recovery Program**. This intensive one-month program is meticulously designed to provide quick, impactful support, equip individuals with essential tools to combat burnout, and kickstart a journey towards improved well-being and work-life harmony.</p>
                  <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
                  <div class="d-none" data-toggle-target="toggleableElement">
                    <h6><strong>Week 1: Reset</strong></h6>
                    <ul>
                      <li>- **Initial Wellness Consultation (90 minutes):** Begin with a comprehensive assessment to understand your stress levels, lifestyle habits, and wellness goals.</li>
                      <li>- **Stress Management Workshop (2 hours):** Learn foundational strategies to manage stress, including mindfulness techniques and practical tools for immediate relief.</li>
                      <li>- **Daily Mindfulness Prompts:** Receive daily prompts to guide you in short mindfulness exercises, fostering a routine of mental calmness.</li>
                    </ul>
                    <h6><strong>Week 2: Recharge</strong></h6>
                    <ul>
                      <li>- **Nutritional Counseling Session (1 hour):** Dive into a session focused on how nutrition impacts energy levels and mood, including guidance to revitalise your diet for optimal health.</li>
                      <li>- **Virtual Yoga Session (1 hour x 2):** Participate in two yoga sessions aimed at stress relief and physical rejuvenation, suitable for all levels.</li>
                      <li>- **Guided Meditation Series:** Access to a curated series of guided meditations to enhance your stress management toolkit, recommended for daily practice.</li>
                    </ul>
                    <h6><strong>Week 3: Rebuild</strong></h6>
                    <ul>
                      <li>- **Personalised Exercise Consultation (1 hour):** Receive a custom exercise plan tailored to your needs and constraints, focusing on exercises to release stress and improve physical health.</li>
                      <li>- **Sleep Optimisation Workshop (1 hour):** A workshop dedicated to teaching effective strategies for improving sleep quality, an essential component of recovery from burnout.</li>
                      <li>- **Mid-Program Check-In (30 minutes):** Evaluate your progress with a wellness coach, adjust strategies as needed, and maintain motivation.</li>
                    </ul>
                    <h6><strong>### Week 4: Renew</strong></h6>
                    <ul>
                      <li>- **Mindful Eating Workshop (1 hour):** Explore the principles of mindful eating and how to apply them for nourishment and enjoyment.</li>
                      <li>- **Culminating Stress Management Session (1 hour):** Advanced techniques for sustaining stress resilience, including creating a personalised long-term plan to prevent future burnout.</li>
                      <li>- **Final Wellness Consultation (1 hour):** Review achievements, consolidate wellness practices, and strategise continuity beyond the program.</li>
                    </ul>
                    <h6><strong>Additional Features:</strong></h6>
                    <ul>
                      <li>- **24/7 Access to a Wellness Resource Portal:** Includes recorded yoga and fitness classes, nutritional guides, and meditation resources.</li>
                      <li>- **Weekly Inspirational Email Blasts:** Keep motivated with wellness tips, success stories, and practical advice for maintaining progress.</li>
                    </ul>
                    <p>## Investment:</p>
                    <p>- **Program Cost: 500.00</p>
                    <p>The **Fast-Track Burnout Recovery Program** is your intensive blueprint for overcoming burnout, regaining balance, and revitalising your energy and outlook. Let’s embark on this transformative journey together.</p>
                    <cite>To sign up or request more details, please reach out. Your commitment to recovery is the first step towards a healthier, more fulfilling life.</cite>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="packagecard">
              <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
              <div data-controller= toggle class="card-body">
                <h5 class="card-title"><strong>One-Day in person Health and Wellness Program for Corporate Teams- "Thriving in Balance: Empowering Your Team for Success"</strong></h5>
                 <p class="card-text text-center">Goal:</p>
                  <p class="card-text text-center">To provide a comprehensive one-day retreat focused on enhancing team cohesion, managing stress, and fostering a culture of health and well-being in the workplace. This program is designed to equip employees with practical tools for sustaining mental and physical health, improving productivity, and enhancing overall job satisfaction.</p>
                  <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
                  <div class="d-none" data-toggle-target="toggleableElement">
                  <p>08:15 – Arrival</p>
                  <p>8:30 AM - 9:00 AM: Opening Session - "Introduction to Wellness and Today's Objectives"</p>
                  <ul>
                    <li>- Brief welcome by a leading health and wellness expert.</li>
                    <li>- An outline of the day’s activities and expected outcomes.</li>
                  </ul>
                  <p>9:00 AM - 10:00 AM: Keynote - "The Pillars of Workplace Wellness"**</p>
                  <ul>
                    <li>- Explore the connection between wellness and productivity.</li>
                    <li>- Introduction to key wellness pillars: physical activity, nutrition, mental health, and work-life harmony</li>
                  </ul>
                  <p>10:00 AM - 10:15 AM: Mindful Break**</p>
                  <ul>
                    <li>- Guided mindfulness breathing exercises.</li>
                    <li>- Opportunity for personal reflection or light stretching.</li>
                  </ul>
                  <p>10:15 AM - 11:15 AM: Workshop 1 - "Nutrition for Peak Performance"**</p>
                  <ul>
                    <li>- Interactive workshop on how diet impacts energy, mood, and cognition.</li>
                    <li>- Practical tips for healthy eating in the corporate environment.</li>
                  </ul>
                  <p>11:15 AM - 12:15 PM: Workshop 2 - "Stress Management Techniques"**</p>
                  <ul>
                    <li>- Training on identifying stressors and applying immediate coping strategies.</li>
                    <li>- Techniques include meditation, time management, and boundary setting.</li>
                  </ul>
                  <p>12:15 PM - 1:00 PM: LUNCH.</p>
                  <ul>
                    <li>- An opportunity for participants to network and share insights.</li>
                  </ul>
                  <p>1:00 PM - 2:00 PM: Team Building Activity - "Wellness in Action"**</p>
                  <ul>
                    <li>- Outdoor or indoor activity (e.g., group yoga or team challenges) designed to promote teamwork, communication, and physical wellness.</li>
                  </ul>
                  <p>2:00 PM - 3:00 PM: Workshop 3 - "Creating a Supportive Wellness Culture"**</p>
                  <ul>
                    <li>- Strategies for building a supportive environment that encourages continuous engagement with wellness practices.</li>
                    <li>- How to implement wellness initiatives within teams.</li>
                  </ul>
                  <p>**3:00 PM - 3:15 PM: Energising Break**</p>
                  <ul>
                    <li>- Optional quick stretch or walk.</li>
                  </ul>
                  <p>**3:15 PM - 4:15 PM: Breakout Sessions (Choose One)**</p>
                  <ol>
                    <li>**"Personalised Wellness Planning"** - Crafting individual wellness plans.</li>
                    <li>**"Mindfulness and Resilience Training"** - Building mental fortitude through mindfulness practices.</li>
                    <li>**"Ergonomics and Physical Health"** - Best practices for maintaining physical health in an office setting.</li>
                  </ol>
                  <p>**4:15 PM - 4:45 PM: Closing Session - "Integrating Wellness into Daily Life"**</p>
                  <ul>
                    <li>- Recap of key takeaways.</li>
                    <li>- Commitment exercise: Each participant states a personal wellness goal.</li>
                  </ul>
                  <p>**4:45 PM - 5:00 PM: Feedback and Farewell**</p>
                  <ul>
                    <li>- Participants provide feedback on the day’s program.</li>
                    <li>- Closing remarks and thank-you notes.</li>
                  </ul>

                  <p>### Post-Program:</p>
                  <ul>
                    <li>- Participants will receive a digital package of resources, including the day’s presentations, additional reading materials, and a guide to continuing their wellness journey.</li>
                    <li>- Follow-up survey sent two weeks post-event to gauge ongoing implementation of wellness practices and gather additional feedback.</li>
                  </ul>
                  <p>This immersive one-day program aims to leave participants feeling revitalised, with a renewed sense of purpose and actionable strategies for integrating wellness into their professional lives. Through this holistic approach, teams are positioned to thrive in both their personal and professional endeavours, fostering a culture of health and success within the corporate environment.</p>
                  <p>Prices available on quotation and dependent on location</p>
                  </div>
              </div>
            </div>
          </div>
        <div class="col-sm-6">
          <div class="packagecard">
            <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
            <div data-controller= toggle class="card-body">
              <h5 class="card-title"><strong>Virtual One-Day Health and Wellness Program for Corporate Teams- "Digital Detox: Cultivating Wellness in the Work-from-Home Era"</strong></h5>
              <p class="card-text text-center">Goal:</p>
              <p class="card-text text-center">To deliver a virtual one-day retreat designed to enhance team cohesion, manage stress, and foster a culture of health and well-being while working remotely. This interactive online program equips participants with the skills and knowledge to navigate the unique challenges of remote work, focusing on mental and physical health to improve productivity and overall life satisfaction.</p>
              <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
              <div class="d-none" data-toggle-target="toggleableElement">
                <p>9:00 AM - 9:30 AM: Virtual Welcome and Introduction**</p>
                <ul>
                  <li>- Live opening remarks from a leading health and wellness expert, outlining the day's objectives and interactive platform tutorial.</li>
                </ul>
                <p>9:30 AM - 10:30 AM: Keynote Webinar: "Balancing Work and Well-being in the Digital Age"**</p>
                <ul>
                  <li>- An interactive keynote exploring the impact of remote work on health and strategies to achieve work-life harmony.</li>
                </ul>
                <p>10:30 AM - 10:45 AM: Guided Virtual Mindfulness Break**</p>
                <ul>
                  <li>- A live guided meditation to reset and focus, accompanied by downloadable mindfulness resources.</li>
                </ul>
                <p>10:45 AM - 11:45 AM: Interactive Workshop 1: "Nutrition for Peak Performance"**</p>
                <ul>
                  <li>- A virtual cooking demonstration focusing on quick, nutritious meals suitable for remote workers.</li>
                  <li>- Q&A session with a nutrition expert.</li>
                </ul>
                <p>11:45 AM - 12:00 PM: Virtual Networking Break**</p>
                <ul>
                  <li>- Structured networking in breakout rooms, allowing participants to discuss morning sessions and share insights.</li>
                </ul>
                <p>12:00 PM - 1:00 PM: Webinar: "Effective Stress Management for Remote Workers"**</p>
                <ul>
                  <li>- An interactive presentation on identifying and managing stressors unique to remote work, featuring live polls and chat engagement.</li>
                </ul>
                <p>1:00 PM - 2:00 PM: Lunch Break and Optional Virtual Yoga Session**</p>
                <ul>
                  <li>- Participants enjoy a lunch break on their own, with an optional guided yoga practice livestreamed for those interested in a midday stretch.</li>
                </ul>
                <p>**2:00 PM - 3:00 PM: Team Building Virtual Activity: "Remote Connection Challenges"**</p>
                <ul>
                  <li>- Fun and engaging team activities designed to enhance remote collaboration, with a focus on wellness-themed challenges.</li>
                </ul>
                <p>3:00 PM - 3:15 PM: Health-Promoting Break**</p>
                <ul>
                  <li>- Participants are encouraged to engage in a brief physical activity of their choice, with suggestions provided (e.g., quick walk, stretching).</li>
                </ul>
                <p>3:15 PM - 4:15 PM: Breakout Sessions (Participants Choose One)**</p>
                <ol>
                  <li>"Crafting Your Home Office for Wellness" - Tips on creating a physically and mentally supportive remote work environment.</li>
                  <li>"Mindfulness and Mental Resilience" - Deep dive into mindfulness practices that bolster mental health and productivity.</li>
                  <li>"Fitness at Home" - Strategies for maintaining physical fitness while working remotely, including live demonstrations.</li>
                </ol>
                <p>4:15 PM - 4:45 PM: Closing Webinar: "Integrating Today’s Learnings"**</p>
                <ul>
                  <li>- A recap of the day's key takeaways.</li>
                  <li>- Commitment to action: Participants share one wellness goal in the chat.</li>
                </ul>
                <p>4:45 PM - 5:00 PM: Virtual Feedback and Farewell**</p>
                <ul>
                  <li>- Live feedback session using polls and chat.</li>
                  <li>- Closing remarks and expressions of gratitude.</li>
                </ul>
                <p># Post-Program Delivery:</p>
                <ul>
                  <li>- Participants will receive a digital wellness kit containing session recordings, downloadable resources (guided meditations, workout videos, healthy recipes), and a wellness action plan template.</li>
                  <li>- A follow-up email survey will be sent two weeks post-event to evaluate the implementation of learned wellness practices and solicit further feedback for continuous improvement.</li>
                </ul>
                <p>This virtual one-day program is meticulously crafted to inspire and guide remote workers and teams towards a balanced and healthy remote working lifestyle. By embracing the challenges and opportunities of the digital work environment, participants will leave equipped with practical tools and strategies to thrive in their personal and professional lives.</p>
                <p>Prices available on quotation.</p>
              </div>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
