<nav class="navbar navbar-expand-custom navbar-mainbg navcolor">
   <%= link_to root_path, class:"boxdisplay", style: "text-decoration: none;" do %>
    <%= cl_image_tag("nourishbodymindLogo_edit_wwfrug", class:"navlogo", alt: "Nourish mind body logo") %>
   <% end %>

   <div class="largerscreennav">
    <ul class="navbar-nav1 d-flex me-2">
        <li class="nav-item1">
            <%= link_to "About", about_path, class: "nav-link1 textblack2" %>
        </li>
        <li class="nav-item1">
            <%= link_to "Price", price_path, class: "nav-link1 textblack2" %>
        </li>
        <li class="nav-item1">
            <%= link_to "Contact", contact_path, class: "nav-link1 textblack2" %>
        </li>
        <li class="nav-item1">
            <%= link_to "Blog", blog_path, class: "nav-link1 textblack2" %>
        </li>
    </ul>
</div>


  <div class="smallerscreennav" data-controller = toggle>

    <span data-action="click->toggle#fire" class="material-symbols-outlined menu1">menu</span>

    <div class = "mt-4 d-none" data-toggle-target="toggleableElement">
      <ul class="navbar-nav">
        <li><span data-action="click->toggle#fire" class="material-symbols-outlined nav-item menu2">
          close
        </span></li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Price", price_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", blog_path, class: "nav-link" %>
        </li>
    </ul>
  </div>
</nav>
